.hidden {
  display: none;
}

* {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

img {
  align-self: center;
  object-fit: cover;
}

body {
  background-color: black;
}

.root {
  color: white;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}
